*.o
*.hi
*.p_o
*.p_hi

samples/*.asm

brainfuck-compiler/BrainfuckCompiler
brainfuck-compiler/BrainfuckCompilerLLVM
brainfuck-compiler/BrainfuckInterpreter
register-machine/RegisterToBrainfuck

language-brainfuck/dist
language-registermachine/dist
